@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 192 45% 95%;
    --foreground: 192 49% 20%;

    --card: 192 45% 92%;
    --card-foreground: 192 49% 20%;

    --popover: 192 45% 95%;
    --popover-foreground: 192 49% 20%;

    --primary: 192 49% 13%;
    --primary-foreground: 192 45% 95%;

    --secondary: 312 41% 90%;
    --secondary-foreground: 192 49% 20%;

    --muted: 312 31% 90%;
    --muted-foreground: 192 9% 37%;

    --accent: 72 76% 88%;
    --accent-foreground: 72 76% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 312 21% 91%;
    --input: 312 21% 91%;
    --ring: 192 49% 13%;

    --radius: 0.25rem;

    --sidebar-background: 192 45% 95%;

    --sidebar-foreground: 192 49% 25%;

    --sidebar-primary: 192 49% 13%;

    --sidebar-primary-foreground: 192 45% 95%;

    --sidebar-accent: 312 41% 90%;

    --sidebar-accent-foreground: 192 49% 20%;

    --sidebar-border: 312 21% 91%;

    --sidebar-ring: 312 11% 75%;

    --chart-1: 192 58% 39%;

    --chart-2: 222 76% 61%;

    --chart-3: 252 37% 24%;

    --chart-4: 282 74% 66%;

    --chart-5: 312 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 192 3% 14%;
    --foreground: 192 29% 70%;

    --card: 192 3% 9%;
    --card-foreground: 192 29% 70%;

    --popover: 192 3% 14%;
    --popover-foreground: 192 29% 70%;

    --primary: 192 29% 87%;
    --primary-foreground: 192 3% 14%;

    --secondary: 312 11% 18%;
    --secondary-foreground: 192 29% 70%;

    --muted: 312 6% 18%;
    --muted-foreground: 312 11% 75%;

    --accent: 72 36% 18%;
    --accent-foreground: 72 76% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --border: 312 6% 18%;
    --input: 312 1% 25%;
    --ring: 312 11% 83%;
    --sidebar-background: 192 3% 14%;
    --sidebar-foreground: 312 41% 95%;
    --sidebar-primary: 72 76% 55%;
    --sidebar-primary-foreground: 192 29% 70%;
    --sidebar-accent: 312 6% 18%;
    --sidebar-accent-foreground: 312 41% 95%;
    --sidebar-border: 312 6% 18%;
    --sidebar-ring: 312 11% 83%;
    --chart-1: 192 70% 50%;
    --chart-2: 312 75% 55%;
    --chart-3: 222 80% 55%;
    --chart-4: 112 65% 60%;
    --chart-5: 352 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}